$primary-color: #efbb35;
$secondary-color: #f9ffee;
$primary-bg-color: rgb(35, 40, 48);
$secondary-bg-color: rgb(25, 28, 33);

$default-font-familly: lato, sans-serif;
$default-font-size: 25px;

$gray: #a3a3a3;
