<aside (scroll)="onScroll($event)">
  <ul>
    <li class="helpers"></li>
    <li *ngFor="let event of eventList; let i = index" (click)="selectEvent(i)">
      <ng-container *ngIf="event.type === Mode.Year">
        {{ event.date | date: "yyyy" }}
      </ng-container>
      <ng-container *ngIf="event.type === Mode.Month">
        {{ event.date | date: "MMM" }}
      </ng-container>
      <ng-container *ngIf="event.type === Mode.Day">
        {{ event.date | date: "dd" }}
      </ng-container>
    </li>
    <li class="helpers"></li>
  </ul>
</aside>
