@import "helpers/variables";
@import "helpers/mixins";

aside {
  height: 100%;
  overflow: scroll;

  ul {
    height: 100%;
  }
  li {
    // height: 200px;
    // flex-grow: 1;
    // height: 50%;
    @include default-font;

    padding: 0px 15px;
    background-color: $secondary-bg-color;
    color: $primary-color;
    // margin: 5px, 1px;
    min-height: 30px;
    display: flex;
    align-items: center;
  }
  .helpers {
    height: 50%;
  }
}
