<header>
  <button (click)="back()">back</button>
  <div>
    list mode: {{ Mode[mode] }} <br />
    <ng-container *ngIf="selectedEvent?.type === Mode.Year">
      selected date: {{ selectedEvent?.date | date: "yyyy" }} <br />
    </ng-container>
    <ng-container *ngIf="selectedEvent?.type === Mode.Month">
      selected date: {{ selectedEvent?.date | date: "MMM" }} <br />
    </ng-container>
  </div>
  <div>selected id: {{ selectedEvent?.id }} <br /></div>
</header>
<div class="body">
  <section #eventList (scroll)="onScroll($event)">
    <ul>
      <li class="helper"></li>
      <li
        class="item"
        *ngFor="let event of events"
        (click)="selectEvent(event)"
      >
        {{ event.highlights }}
      </li>
      <li class="helper"></li>
    </ul>
  </section>
  <app-wheel
    [eventList]="events"
    [outerScrollPercentage]="percentageScrolled"
    (percentageScrolled)="scroll($event)"
  ></app-wheel>
</div>
