@import "helpers/variables";
@import "helpers/mixins";

:host {
  display: block;
}

header {
  display: flex;
  justify-content: space-between;
  height: 5vh;
  @include default-font;
  background-color: $secondary-bg-color;
  line-height: normal;
  .primary-button,
  button {
    background-image: linear-gradient(to bottom, #222831, black);
    border-radius: 8px;
    color: $primary-color;
    letter-spacing: 1px;
    padding: 10px 20px;
    border: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    &:hover {
      margin-top: -2px;
    }
  }
}

.body {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  height: 95vh;
}
section {
  width: 100%;
  height: 100%;
  overflow: scroll;

  .item {
    @include default-font;
    height: 50vh;
    padding: 0px 15px;
    display: flex;
    align-items: center;
  }

  .helper {
    height: 15vh;
  }
}
