:host {
  margin: 50px;
  display: block;
}

.body {
  display: flex;
  justify-content: space-between;
}
section {
  width: 100%;
  .item {
    height: 200px;
    padding: 0px 15px;
    background-color: lightblue;
    margin: 1px;
    font-size: 18px;
    display: flex;
    align-items: center;
    font-family: lato, sans-serif;
  }
}

